.wrapper{
  position: relative;
  height: 100vh;
}
h1{
  font-size: 50px;
  margin-top: 10px;
}
h2{
  font-size: 30px;
  color:blue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.posts{
  margin: 10px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.post{
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #999;
  background-color:darkcyan;
  color: rgba(255, 255, 255, 1);
  animation: bright 2.5s ease infinite;
}
@keyframes bright {
  0%{color:rgba(255, 255, 255, 1)}
  50%{color:rgba(255, 255, 255, .5)} 
  100%{color:rgba(255, 255, 255, 1)}
}